<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');">
  <div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
    <article>
      <div>
        <p class="heading">Purus donec mi tellus suscipit eget</p>
        <h2 class="heading">Urna a egestas etiam</h2>
        <p>Lacinia velit at ipsum commodo tincidunt donec condimentum ligula ultricies dictum.</p>
      </div>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn inverse" href="#">Ullamcorper</a></li>
          <li><a class="btn" href="#">Accumsan</a></li>
        </ul>
      </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
